<html>
  <head>
    <title>Bot - Ayyıldız</title>

    <link
      rel="icon"
      href="https://cdn.glitch.com/62e515cb-c111-46eb-a537-ce1a7f5e9270%2F%D0%AF%20-%20Ayy%C4%B1ld%C4%B1z.png?v=1562096298718"
    />

    <link rel="stylesheet" href="/Tasarım.css" />
    <link rel="stylesheet" href="/Tema.css" />
    <script src="/Tema.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic|Manjari|Montserrat|Open+Sans|Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div id="Baslik">
        <a href="/Bot">
          <img
            src="https://cdn.glitch.com/62e515cb-c111-46eb-a537-ce1a7f5e9270%2F%D0%AF%20-%20Ayy%C4%B1ld%C4%B1z.png?v=1562096298718"
            width="7.5%"
          />
          <br />
          Ayyıldız — Türkiye'nin botu!
        </a>
      </div>

      <div id="butonListesi">
        <ul>
          <li id="botuEkle">
            <a
              href="https://discordapp.com/oauth2/authorize?client_id=639164934709575701&permissions=2146958847&scope=bot&response_type=code&redirect_uri=https://ayyildiz-inc.glitch.me/Bot/Tesekkurler"
              class="botuEkle"
            >
              Botu Ekle!
            </a>
          </li>
          <br /><br /><br />
          <li><a href="/Bot/Komutlar" class="Buton"> Komutlar </a></li>
          <br /><br /><br />
          <li><a href="/Bot/Uyelikler" class="Buton"> Üyelikler </a></li>
          <br /><br /><br />
          <li><a href="/DiscordGiris" class="discordGiriş"> Giriş Yap </a></li>
        </ul>
      </div>
    </header>
    <br /><br /><br /><br /><br /><br />
    <div id="Hakkinda">
      Sayaç eklentisi, sunucunuza gelen ve giden kişiler için uygulanan bir
      eklentidir. Her yeni üye girip/çıktığında belirlenen kanala bir mesaj atar
      ve o mesaj:<br />
      - sunucunun yeni üye sayısını;<br />
      - özel bir karşılama mesajı içerir.
    </div>
    <div id="eklentiAyarlari">
      <h2 style="color: #ffffff">Sayaç Kanalı</h2>
      <br /><textarea readonly="true" class="eklentiAyarlariPanelElementler">
#</textarea
      ><br>
      <input class="eklentiAyarlariPanelElementler"/>
    </div>
    Merhaba <%=kullanıcı.username%>!
  </body>
</html>
