<html lang="en">

<head>
    <title>TheDotCom</title>

    <link rel="icon" href="/Images/TheDotCom Icon.svg">

    <link href="/CSS/Style.css" rel="stylesheet">

    <script src="/JS/Script.js"></script>
</head>

<body>
    <nav>
        <button onclick="goTo ('')" id="home"><img src="/Images/TheDotCom Full.svg" alt="TheDotCom's logo"></button>
        <button onclick="goTo ('aboutus')">About TDC</button>
        <button onclick="goTo ('projects')">Projects</button>
        <% if (!User) { %>
            <button onclick="goTo ('signin')" id="signin">Sign In</button>
        <% } else { %>
            <img src="<%= User.avatar %>" alt="<%= User.fullname %>'s avatar" id="avatar">
        <% } %>
    </nav>

    <main>
        <h1 id="ourMission">
            Our mission is make people more <span class="peachRed">creative</span>, <span class="limeGreen">productive</span>, <span class="skyBlue">social</span> in this new <span class="sunsetYellow">futuristically virtual</span> world.
        </h1>
    </main>

    <footer>
        <img src="/Images/TheDotCom Icon.svg" alt="TheDotCom's Logo">

        <div>
            <h4><strong>TheDotCom</strong></h4>
            <a href="/branding">Branding</a> <br /><br />
            <a href="/developers">Developers</a> <br /><br />
            <a href="/branding">Branding</a>
        </div>

        <div>
            <h4><strong>Project Links</h4></strong></h4>
            <a href="https://www.social.com">Social.com</a> <br /><br />
            <a href="https://www.watch.com">Watch.com</a> <br /><br />
            <a href="https://www.listen.com">Listen.com</a> <br /><br />
            <a href="https://www.play.com">Play.com</a> <br /><br />
            <a href="https://www.read.com">Read.com</a> <br /><br />
            <a href="https://www.learn.com">Learn.com</a> <br /><br />
            <a href="https://www.mail.com">Mail.com</a> <br /><br />
            <a href="https://www.news.com">News.com</a> <br /><br />
            <a href="https://www.encyclopedia.com">Encyclopedia.com</a> <br /><br />
            <a href="https://www.pay.com">Pay.com</a> <br /><br />
            <a href="https://www.kids.com">Kids.com</a>
        </div>

        <div>
            <h4><strong>More from Eray#6421</strong></h4>
            <a href="https://www.eray.soy">Eray#6421</a> <br /><br />
            <a href="https://www.ayyildiz.cc">Ayyildiz</a> <br /><br />
            <a href="https://www.blogipsum.app">Blog Ipsum</a> <br ><br />
            <a href="https://www.emojicon.app">Emojicon</a> <br /><br />
            <a href="https://www.100googolplex.net">Spend 100 Googolplex Dollars!</a>
        </div>

        <p>© 2021 TheDotCom. All rights reserved.</p>
    </footer>
</body>

</html>