<html lang="en">

<head>
    <title>TheDotCom</title>

    <link rel="icon" href="/Images/TheDotCom Icon.svg">

    <link href="/CSS/Style.css" rel="stylesheet">

    <script src="/JS/Script.js"></script>
    <script src="/JS/Sign Up.js"></script>
</head>

<body>
    <nav>
        <nav>
            <button onclick="goTo ('')" id="home"><img src="/Images/TheDotCom Full.svg" alt="TheDotCom's logo"></button>
            <button onclick="goTo ('aboutus')">About TDC</button>
            <button onclick="goTo ('projects')">Projects</button>
            <button onclick="goTo ('signin')" id="signin">Sign In</button>
        </nav>

    <main>
        <h1><span class="sunsetYellow">Sign up</span> to <span class="skyBlue">The</span><span
                class="peachRed">Dot</span><span class="limeGreen">Com</span></h1>

        <div id="signup">
            <form action="/signup" method="post">
                <label for="fullname">Enter your full name:</label><br />
                <input type="text" name="fullname" /> <br /><br />

                <label for="username">Enter your username:</label><br />
                <input type="text" maxlength="16" name="username" /> <br /><br />

                <label for="birthday">Select your birthday:</label><br />
                <!--<select name="bdDay" class="birthday" id="bdDay">
                    <option value="0">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select name="bdMon" class="birthday" id="bdMon">
                    <option value="0">Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select name="bdYea" class="birthday" id="bdYea">
                    <option value="0">Year</option>
                </select> <br /><br />-->

                <input type="date" name="birthday" />

                <label for="gender">Select your gender:</label><br />
                <select name="gender">
                    <option value="0">Please, select a gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="X">Prefer not to say</option>
                </select> <br /><br />

                <label for="password">Enter your password:</label><br />
                <input type="password" name="password" /> <br /><br />

                <input type="submit" value="Register!"><br /><br />
            </form>
        </div>
    </main>

    <footer>
        <img src="/Images/TheDotCom Icon.svg" alt="TheDotCom's Logo" id="logo">

        <div class="footerGroup">
            <h4><strong>TheDotCom</strong></h4>
            <a href="/branding">Branding</a> <br /><br />
            <a href="/developers">Developers</a> <br /><br />
            <a href="/branding">Branding</a>
        </div>

        <div class="footerGroup">
            <h4><strong>Project Links</h4></strong></h4>
            <a href="https://www.social.com">Social.com</a> <br /><br />
            <a href="https://www.watch.com">Watch.com</a> <br /><br />
            <a href="https://www.listen.com">Listen.com</a> <br /><br />
            <a href="https://www.play.com">Play.com</a> <br /><br />
            <a href="https://www.read.com">Read.com</a> <br /><br />
            <a href="https://www.learn.com">Learn.com</a> <br /><br />
            <a href="https://www.mail.com">Mail.com</a> <br /><br />
            <a href="https://www.news.com">News.com</a> <br /><br />
            <a href="https://www.encyclopedia.com">Encyclopedia.com</a> <br /><br />
            <a href="https://www.pay.com">Pay.com</a> <br /><br />
            <a href="https://www.kids.com">Kids.com</a>
        </div>

        <div class="footerGroup">
            <h4><strong>More from Eray#6421</strong></h4>
            <a href="https://www.eray.soy">Eray#6421</a> <br /><br />
            <a href="https://www.ayyildiz.cc">Ayyildiz</a> <br /><br />
            <a href="https://www.blogipsum.app">Blog Ipsum</a> <br><br />
            <a href="https://www.emojicon.app">Emojicon</a> <br /><br />
            <a href="https://www.100googolplex.net">Spend 100 Googolplex Dollars!</a>
        </div>

        <p id="copyright">© 2021 TheDotCom. All rights reserved.</p>
    </footer>
</body>

</html>