/*:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-temaa="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  background-color: var(--bg-color)
}

section {
  max-width: 68%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
}


.theme-switch-wrapper {
  display: flex;
  color: #ffffff;
  float: right;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  float: right;
}

.theme-switch input {
  display: none;
  float: right;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  float: right;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  float: right;
}

input:checked + .slider {
  background-color: #66bb6a;
  float: right;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  float: right;
}

.slider.round:before {
  border-radius: 50%;
  float: right;
}
*/